.header-explore {
  background-color: white !important;
  transition: all 0.4s;
  z-index: 999;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 10px 20px;
  height: 72px;
  display: flex;
  .header-left {
    gap: 10px;
    display: flex;
    align-items: center;

    .brand-logo {
      width: 40px;
      height: 40px;
    }
    .brand-text {
      color: black;
      font-size: 1em;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .header-mid {
    position: relative;
    .search-input-right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      position: absolute;
      padding: 15px;
      right: 20px;
      background-color: #e5e8eb;
      border-radius: 4px;
    }
    margin: 0 25px;
    display: flex;
    align-items: center;
    outline: none;
    position: relative;
    .search-icon {
      position: absolute;
      left: 10px;
      color: rgba(0, 0, 0, 0.389);
    }
    .search-input {
      background-color: #ffffff;
      width: 680px;
      border: none;
      outline: none;
      height: 45px;
      padding: 2px 30px;
      border-radius: 7px;
      font-size: 16px;
      transition: all 0.2s;
      border: 2px solid rgba(0, 0, 0, 0.099);
      &:focus .search-input-right {
        display: none;
      }
      &:hover {
        background-color: white;
      }
      &:focus {
        background-color: white;
      }
      &::placeholder {
        font-family: sans-serif;
        font-size: 13px;
        letter-spacing: 1px;
      }
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 50px;
    padding: 0 20px;
    i {
      cursor: pointer;
      font-size: 20px;
      &:hover {
        color: rgba(0, 0, 0, 0.795);
      }
    }
    li {
      a {
        font-weight: 500;
        color: black;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        &:hover {
          color: rgba(0, 0, 0, 0.795);
        }
      }
      .explore-navlink {
        position: relative;
        &:hover .explore-menu-drop {
          visibility: visible;
          opacity: 1;
        }
      }
      .explore-menu-drop {
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        left: -30px;
        top: 50px;
        border-radius: 10px;
        position: absolute;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.148);
        a {
          overflow: auto;
          padding: 10px 70px 10px 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;
        }
        a img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
